<!doctype html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/compatibility.js"></script>
    <!--[if lt IE 10]>
    <script src="/shim.js"></script>
    <![endif]-->
    <script src="/es6-promise.min.js"></script>
</head>
<body>
<div id="root" style="height: 100%"></div>
<script>
    if (!window.Promise) {
        window.Promise = Promise;
    }
    window.ApiHost = '<%= htmlWebpackPlugin.options.apiHost %>'
</script>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor-utf-8/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor-utf-8/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor-utf-8/lang/zh-cn/zh-cn.js"></script>
</body>
</html>
